[submodule "hUGEDriver"]
	path = hUGEDriver
	url = http://github.com/SuperDisk/hUGEDriver
[submodule "Pascal-SDL-2-Headers"]
	path = Pascal-SDL-2-Headers
	url = https://github.com/ev1313/Pascal-SDL-2-Headers
[submodule "rackctls"]
	path = rackctls
	url = https://github.com/olivluca/rackctls
